@keyframes fade {
  from{
    width: 0px;
  }
  to{
    width: 100%;
  }
}
html {
  margin: 0px;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

body {
  margin: 0px;
  font-family: 'Red Hat Text', sans-serif;
}

button {
  padding: 0px;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -300%;
  top:20px;
  width: 650px;
  max-height: 660px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: 0.8s;
  z-index: 3;

}
.popup__container{
  width: 560px;
}
.popup.active{
  top:20px;
  left: 0px;
  transition: 0.8s;
  z-index: 3;
}
.popup.register{


}

.popup__Title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  /* font-size: 32px; */
  font-size: calc(30px + 2*(100vw / 1440));
  line-height: 38px;
  color: #0D606F;
  margin: 25px 0px 30px 0px;

}

.popup__line-or{
  text-align: center;
  width: 100%;
  position: relative;
  margin: 30px 0px 10px 0px;
}
.popup__line-or span{
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: rgba(13, 96, 111, 0.5);
padding: 0px 9px 0px 9px;
}

.popup__line-or::before{
  content: '';
  width: 45%;
  border: 1px solid rgba(13, 96, 111, 0.5);
  display: inline-block;
  position: absolute;
  top:50%;
  left: 0px;
}
.popup__line-or::after{
  content: '';
  width: 45%;
  border: 1px solid rgba(13, 96, 111, 0.5);
  display: inline-block;
  position: absolute;
  top:50%;
}

.popup__Item1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  width: 100%;
  height: 56px;
  gap: 15px;
  background: #1877F2;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin-bottom: 20px;
}
.popup__Item1 span {
  position: absolute;
  left: 203px;
  padding: 15px 15px 15px 0px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;



}

.popup__Item1 .popup__img {
  position: absolute;
  left: 164px;
  width: 23px;
  height: 23px;
}
.popup__Item2 .popup__img {
  position: absolute;
  left: 175px;
  width: 23px;
  height: 23px;
}

.popup__Item2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  width: 100%;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.popup__Item2 span {
  position: absolute;
  left: 213px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0D606F;

}
.popup__login p {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;}

.popup__Email, .popup__Password {
width: 100%;
height: 54px;
background: #FFFFFF;
box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
border: 0px;
}
.popup__Email{
  margin-bottom: 20px;
}
.popup__Password {
  margin-bottom: 30px;
  position: relative;
}
.popup__Password::after{
content: "";
position: absolute;
top: 20px;
width: 100%;
border: 1px solid rgba(13, 96, 111, 0.5);
transform: rotate(0.1deg);
}

.popup__Button{
margin-bottom: 10px;
text-align: center;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
background: #0D606F;
width: 100%;
height: 54px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
border: 0px;
color: #FFFFFF;
}

.popup__linkForgetPassword {
  text-align: center;
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-decoration-line: underline;
color: #0D606F;
text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.popup__linkRegister {
  margin-top: 47px;
  position: relative;
  margin-bottom: 23px;
  text-align: center;
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: rgba(13, 96, 111, 0.5);
text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}
.popup__linkRegister::before{
content: '';
position: absolute;
width: 100%;
border: 1px solid rgba(13, 96, 111, 0.5);
transform: rotate(0.1deg);
bottom: 40px;
left: 0px;
}

.wrapper {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.header {
  height: 90px;
  margin: 0px;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  background-image: url('./assets/img/background-mountains.jpg');
  background-repeat: no-repeat;
  background-position: center 0;


}

.header-burger {
  opacity: 0;
  visibility: hidden;
}

.header-conteiner {
  background-color: rgba(242, 120, 92, 0.7);
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.logo-img img {
  width: 100%;
}

.logo-img-mobile {
  display: none;
}

.menu nav .image-close {
  display: none;
}
.popup .image-close {
  display: none;
}

.menu-social-media a {
  display: none;
}

.menu-account a {
  display: none;
}

.menu-nav {
  margin-left: 2px;
}

.menu-nav ul {
  padding: 0px;
}

.menu-nav ul a:hover {
  color: #0D606F;
  transition: 200ms;
}

.menu nav li {
  display: inline;
  list-style-type: none;
  transition: 200ms;
}

.menu-nav ul a {
  font-weight: 500;
  padding-right: 42px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 21px;
  transition: .3s;
}

.authorization {
  margin-left: 10px;
}

.login .btn-no-arrow {
  font-weight: 500;
  font-size: 16px;
  line-height: 41px;
  width: 103px;
  height: 41px;
}

.btn-no-arrow {

  color: white;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

.btn-no-arrow:hover {
  font-size: 120%;
  border: 1px solid black;
  transition: .3s;

}

.main-row {
  flex: 1 1 auto;


}

.preview {
  height: 675px;
  background: url('./assets/img/background-mountains.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
}

.plan-trip-text p {
  padding-top: 0px;
}

.plan-trip {
  position: relative;
  max-width: 892px;
  max-height: 422px;
  top: 32px;
  left: 120px;
  /* top: calc(0px + 32*(100vw / 1440));
  left: calc(0px + 120*(100vw / 1440));; */
  padding-bottom: 80px;

}

.preview h1 {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(40px + 40*(100vw / 1440));
  line-height: calc(50px + 46*(100vw / 1440));
  color: #FFFFFF;
  margin: 0px auto;
}

.preview p {
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: calc(17px + 3*(100vw / 1440));
  line-height: 24px;
  color: #FFFFFF;
  margin: 31px 0px 46px 0px;
}

.plan-trip-search {
  max-width: 892px;
  /* max-width: calc(100px + 792*(100vw / 1440));; */
  max-height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  position: relative;

}

.plan-trip-search-text p {
  padding: 32px 0px 41px 41px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: calc(15px + 9*(100vw / 1440));
  ;

  line-height: 29px;
  color: #F2785C;
}

.plan-trip-search-btn {
  position: absolute;
  right: 3px;
  top: 18px
}

.plan-trip-search-btn .btn-no-arrow {
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  width: 228px;
  max-height: 59px;
  margin: 0px 18px 0px 0px;
  font-weight: 500;
  font-size: 24px;
  /* font-size: calc(12px + 12*(100vw / 1440)); */
  line-height: 59px;
  color: #FFFFFF;

}

.steps {
  display: flex;
  max-height: 415px;
  justify-content: center;
  margin: 0px auto;
}

.steps-block {
  max-width: 1177px;
  max-height: 247px;
  padding: 80px 132px 87px 131px;



}

.steps-text h2 {
  margin: 0px 0px 40px 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(18px + 21*(100vw / 1440));
  line-height: 53px;
  color: #F2785C;
}

.steps-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.steps-icons-1 {
  /* padding-left: calc(0px + 100*(100vw / 1440)); */

}

.steps-icons-2 {
  /* padding-left: 231px; */
  padding-left: calc(0px + 231*(100vw / 1440));
}

.steps-icons-3 {
  /* padding-left: 160px; */
  padding-left: calc(0px + 160*(100vw / 1440));
}

.steps-icons p {
  text-align: center;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 8*(100vw / 1440));
  line-height: 24px;
  color: #0D606F;
}

.steps-icons img {
  padding-bottom: 24px;
}

.aligncenter {
  text-align: center;
}

.destinations {
  max-height: 1129px;
  display: flex;
  flex-direction: column;
}

.text-carousel {
  position: absolute;
  top: 718px;
  left: 15px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
.text-carousel.active{

}


.distination-text h2 {
  margin-top: 10px;
  margin-bottom: 46px;
  font-family: 'Red Hat Text', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: calc(25px + 15*(100vw / 1440));
  line-height: 53px;
  color: #F2785C;
}

.arrow-sliyder-rigth {
  display: none;
}

.arrow-sliyder-left {
  display: none;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  display: inline-block;
  
}
.dot.active{
  transition: 1s;
  background-color: red;
}
  
.circles{
  margin: 26px 0px 40px 0px;
}

.distination-column{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.distination-carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;

}
.distination-carousel img {
  
  border-radius: 16px;

}
.distination-carousel .img-mobile{
  transition: 1s;
  display: none;
}


.img-carousel-1 {
  cursor: pointer;
  position: relative;
    order: 0;
    margin: 0px 30px;
}

.img-carousel-2 {
  position: relative;
  order: 1;
  margin: 0px 30px;
}

.img-carousel-3 {
  cursor: pointer;
  position: relative;
  margin: 0px 30px;
  order: 2;
}

.distination-btn {
  display: flex;
  box-sizing: border-box;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 131px;

}

.img-btn-arrow {
  padding-right: 10px;
}

.btn-arrow {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  background: #0D606F;
  font-family: inherit;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.distination-btn:hover {
  transition: 0.3s;
  font-size: 120%;
  border: 1px solid black;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stories-background-img {
  background-image: url(./assets/img/story-background.jpg);
  width: 100% !important;
  background-repeat: no-repeat;
  background-position: center 0px;
}

.stories-background-color {
  background-color: rgba(255, 255, 255, 0.7);
}

.stories-header h2 {
  margin: 0px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  padding: 0px 0px 42px 0px;
}

.stories-body {
  max-width: 1201px;
  max-height: 1272px;
  margin: 0px auto;
}

.stories-body a:hover {
  color: #F2785C;
}

.story-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.story {
  display: flex;
  max-width: 1200px;
  max-height: 250px;
  padding: 0px 0px;
  justify-content: center;
  padding: 15px 0px;
}

.story:nth-child(1) {
  padding-top: 40px;
}



.story-body {
  word-wrap: break-word;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(13px + 7*(100vw / 1440));
  line-height: calc(12px + 12*(100vw / 1440));
  color: #0D606F;
}

.story-body a {
  font-weight: 700;
  font-size: calc(16px + 4*(100vw / 1440));
  line-height: 24px;
  text-decoration-line: underline;

  color: #0D606F;
}

.story-img {
  max-width: 400px;
  max-height: 250px;
  padding-right: 32px;
}


.story-img img {
  border-radius: 16px;
}

.story-caption h3 {
  padding-bottom: 24px;
  margin: 0px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 23*(100vw / 1440));
  color: #0D606F;
  line-height: calc(25px + 17*(100vw / 1440));
  margin: 0px;
}

.stories-btn {
  position: relative;
  bottom: 15px;
  display: flex;
  box-sizing: border-box;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08);
  border-radius: 10px;
  padding: 10px 32px 10px 32px;
  margin: 0px auto;
}

.stories-btn img {
  padding-right: 10px;
}

.stories-btn:hover {
  transition: 0.3s;
  font-size: 120%;
  border: 1px solid black;
}

.footer {
  height: 50px;
  background-image: url('./assets/img/story-background.jpg');
  background-repeat: no-repeat;
  background-position: center -1272px;
}

.footer-row {
  display: flex;
  flex: 0 0 33.33333%;
  align-items: center;

}

.footer-travel {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc(13px + 3*(100vw / 1440));
  line-height: 21px;
  color: #FFFFFF;
  padding-left: 590px;
}

.footer-social-media img {
  padding: 5px 0px 0px 10px;
  max-width: 34px;
  max-height: 34px;
}

.footer-social-media ul {
  display: block;
  width: 100%;
  margin: 5px 0px 0px 180px;
}

.footer-social-media ul li {
  display: inline;
  text-decoration: none;
}

@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }

  .plan-trip {
    left: 0px;
    top: 50px;

  }

  .footer-social-media ul {
    padding-inline-start: 10px;
    margin: 0px;
  }

  .footer-travel {
    padding-left: 0px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
  .img-carousel-1 img{
    width: 100%;
  }
  .img-carousel-2 img{
    width: 100%;
  }
  .img-carousel-3 img{
    width: 100%;
  }


  .plan-trip {
    left: 0px;
    top: 0px;

  }

  .footer-social-media ul {
    padding-inline-start: 10px;
    margin: 0px;
  }

  .footer-travel {
    padding-left: 0px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: 500px;
  }

  .plan-trip {
    left: 0px;
    top: 0px;

  }
  .popup{
    top: 0px;
    left: -300%;
    max-width: 390px;
    transition: 0.8s;
    position: fixed;
    }
    .popup__container{
     width: 320px;
     padding: 10px;
    }
    .popup.active{
      transition: 0.8s;
    left: 0px;
    top: 0px;
    z-index: 4;
    position: fixed;
    }
    .popup .image-close {
     display: block;
     text-align: right;
   
   }
    .popup .image-close img{
     max-width: 30px;
   }
    .popup__Social-media-login .popup__img{
   left: 10px;
    }
    .popup__Social-media-login span{
   left:60px;
    }
    .popup__Item1, .popup__Item2,.popup__Email,.popup__Password{
     height: 40px;
    }
   

  .footer-social-media ul {
    padding-inline-start: 10px;
    margin: 0px;
  }

  .footer-travel {
    padding-left: 0px;
  }

  .story-img img {
    max-width: 250px;
    max-height: 150px;
  }
}

@media (max-width:500px) {

  .image-icons img {
    max-width: 70px;
    max-height: 70px;
  }

  .story-img img {
    max-width: 159px;
    max-height: 134px;
  }

  .plan-trip {
    left: 0px;
    top: 0px;

  }

  .plan-trip-search-btn .btn-no-arrow {
    width: 100px;
    max-height: 59px;
    font-size: 12px;
  }

  .footer-social-media ul {
    padding-inline-start: 10px;
    margin: 0px;
  }

  .footer-travel {
    padding-left: 0px;
  }
}



@media (max-width: 391px) {
  html {
    scroll-behavior: smooth;
  }
  .wrapper {
    max-height: 1475px;
    margin: 0px 2px;
  }

  .main {
    position: relative;
    top: -30px;
  }
 
  .header {
    display: block;
    position: absolute;
    background-image: none;
    box-shadow: none;
    width: 358px;
    height: 32px;
    top: 43px;
    left: 16px;
  }

  .header-row {
    max-height: 32px;
  }

  .header-conteiner {
    background-color: rgba(0, 0, 0, 0);
  }

  .logo-img-desktop {
    display: none;
  }

  .logo-img-mobile {
    display: inline;
  }

  .logo-img {
    position: relative;
    right: 94px;
    height: 30px;
    width: 30px;

    z-index: 3;
  }

  .menu {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 165px;
    height: 250px;
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    transition: 0.8s;
    z-index: 2;
  }

  .menu.active {
    transition: 0.6s;
    top: -30px;
    z-index: 3;
  }

  .header-burger.active:before {
    transform: rotate(45deg);
    top: 14.7px;
  }

  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 14.7px;

  }

  .header-burger.active span {
    transform: scale(0);

  }

  .menu nav .image-close {
    display: block;
    text-align: left;
    padding-left: 6px;
  }
  

  .menu-social-media a {
    display: block;
  }

  .menu-account a {
    display: block;
  }

  .menu nav ul a {
    padding: 0;
    font-size: 16px;
    line-height: 21px;
  }

  .menu nav ul {
    padding-top: 0px;
    padding-right: 15px;
    margin: 0;
    height: 32px;
  }

  .destinations-menu {
    position: relative;
    bottom: 32px;
  }

  .plan-menu {
    position: relative;
    top: 32px;
  }

  .menu nav li {
    display: block;
    padding: 10px 0px 0px 0px;
    text-align: right;
    white-space: nowrap;
  }
 

  .menu nav li:nth-child(2) {
    padding-top: 0px;
  }

  .authorization {
    display: none;
  }

  .header-burger {
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 35px;
    height: 32px;
    z-index: 3;
    left: 98px;
    transition: 0.5s;

  }

  .header-burger span {
    content: '';
    background-color: white;
    width: 26.25px;
    height: 2.67px;
    position: absolute;
    left: 4px;
    top: 15px;
    border-radius: 10px;
    transition: 0.5s;

  }

  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: white;
    width: 26.25px;
    height: 2.67px;
    position: absolute;
    left: 4px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .header-burger:before {
    top: 8px;
  }

  .header-burger:after {
    bottom: 8px;
  }


  .plan-trip-text {
    display: none;
  }

  .plan-trip h1 {
    display: none;
  }

  .preview {
    position: relative;
    max-height: 251px;
    background: url(./assets/img/background-mountains-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
  }

  .plan-trip-search-text p {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    bottom: 17px;
    left: -26px
  }

  .plan-trip-search {
    max-width: 360px;
    max-height: 48px;
    position: relative;
    left: 19px;
    top: 142px;
  }

  .plan-trip-search-btn .btn-no-arrow {
    width: 92px;
    height: 30px;
    font-size: 11px;
    line-height: 15px;
  }

  .btn-no-arrow {
    position: relative;
    bottom: 10px;
    left: 12px;

  }

  .steps {
    height: 193px;
  }

  .steps-block {
    height: 163px;
    width: 360px;
    padding: 20px 15px;

  }

  .steps-text h2 {
    position: relative;
    left: 4px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;

  }

  .steps-icons img {
    width: 70px;
    height: 70px;
    padding-bottom: 19px;
  }

  .steps-icons p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;


  }

  .steps-icons-1 {
    position: relative;
    left: 4px;
  }

  .steps-icons-2 {
    position: relative;
    left: 5px;
    padding-left: 0px;
  }

  .steps-icons-3 {
    position: relative;
    left: 4px;
    padding-left: 0px;
  }

  .steps-icons-1 p {
    text-align: left;
    width: 92px;
    position: relative;
    top: -3px;
    left: -2px;


  }

  .steps-icons-2 p {
    position: relative;
    top: -3px;
    left: 3px;

  }

  .steps-icons-3 p {
    position: relative;
    top: -3px;
    left: 2px;
    text-align: right;
    width: 98px;
  }

  .destinations {
    max-height: 289px;
    max-width: 360px;
    padding: 0px 15px 20px 15px;
  }

  .text-carousel {
    position: absolute;
left: 15px;
top: 8px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;

color: #FFFFFF;
  }

  .distination-text h2 {
    position: relative;
    left: 4px;
    font-size: 14px;
    line-height: 19px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .arrow-sliyder-rigth {
    display: block;
    position: absolute;
    right: 5px;
    top: 90px;
  }

  .arrow-sliyder-left {
    display: block;
    position: absolute;
    top: 90px;
    left: 5px;
    z-index: 2;

  }
  
  .distination-carousel {
    display: block;
    position: relative;
    height: 210px;
    width: 100%;
    border-radius: 16px;
  }
  .img-mobile{
    transition: 1s;
    width: 360px;
  }
  .img-mobile.active{
    display: block;
    transition: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  .distination-carousel .img-desktop{
    display: none;
  }
  .img-carousel-1{
    display: block;
    opacity: 1;
    margin: 0px;
    transition: 1s;
  }
  .img-carousel-2 {
    display: block;
    opacity: 1;
    margin: 0px;
    transition: 1s;
}
  .img-carousel-3 {
    display: block;
    opacity: 1;
    margin: 0px;
    transition: 1s;
}
 
  .dot {
    height: 8px;
    width: 8px;
    transition: 1s;
  }
  .dot.active{
    transition: 1s;
    background-color: red;
  }
  .circles{
    position: relative;
    top: -28px;
    left: 0px;
    margin: 0px 0px -12px 0px;
  }

  .distination-btn {
    width: 92px;
    height: 30px;
    padding: 10.86px 12.77px 10.86px 0px;
    margin-bottom: 0px;

  }
  .distination-btn img {
width: 30px;

  }

  .img-btn-arrow {
    padding-right: 0px;
    padding-left: 0px;
    ;
  }

  .btn-arrow {
    white-space: nowrap;
    font-size: 12px;
    line-height: 5px;
    width: 50.45px;
    height: 8.5px;



  }

  .stories {
    max-height: 657px;
  }

  .stories-header h2 {
    position: relative;
    left: 3px;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 10px;

  }

  .story {
    max-height: 130px;
    max-width: 360px;
    padding: 5px 21px;
  }

  .story:nth-child(1) {
    padding-top: 10px;
  }

  .story h3 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .story-caption-1 {
    position: relative;
    top: 5px;
  }

  .story-caption-2 {
    position: relative;
    top: 10px;
  }

  .story-caption-3 {
    position: relative;
    top: 15px;
  }

  .story-body-1 {
    position: relative;
    top: 5px;
    left: -2px;
  }

  .story-body-2 {
    position: relative;
    top: 9px;
    left: -2px;
  }

  .story-body-3 {
    position: relative;
    top: 14px;
    left: -2px;
  }

  .story-body-4 {
    position: relative;
    top: 19px;
    left: -2px;
  }

  .story-caption-4 {
    position: relative;
    top: 17px;
  }

  .story-img-2 {
    position: relative;
    top: 5px;
  }

  .story-img-3 {
    position: relative;
    top: 10px;
  }

  .story-img-4 {
    position: relative;
    top: 14px;
  }

  .story p {
    font-size: 9px;
    line-height: 11px;
  }

  .story-img img {
    height: 134px;
    width: 159px;
  }

  .story-img {
    padding-right: 10px;
  }

  .stories-body {
    height: 628px;
  }

  .story-body {
    width: 196px;
    height: 102px;
  }

  .story-body a {
    font-size: 9px;
    line-height: 11px;
  }

  .stories-background-img {
    background-image: url(./assets/img/story-background-mobile.jpg);

    background-repeat: no-repeat;
    background-position: center 0px;
  }

  .stories-btn {
    width: 92px;
    height: 30px;
    padding: 10px 13.5px 9.5px 5px;
    position: relative;

  }

  .footer-row {
    flex: 0 0 100%;
    height: 60px;
  }

  .footer {
    position: relative;
    bottom: 30px;
    height: 60px;
    background-image: url('./assets/img/story-background-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center -633px;


  }

  .footer-travel {
    display: none;
  }

  .footer-social-media ul {
    display: block;
    margin: 0px 0px 0px 0px;
    position: relative;
    left: 23px;
    top: 0px
  }

  .footer-social-media {
    width: 100%;
  }

  .footer-social-media ul:last-child {
    padding-left: 20px;
  }

  .footer-social-media ul:nth-child(3) {
    padding-left: 100px;
  }
}

@media (max-width: 381px) {
  .plan-trip-search {
    left: 0px;

  }

  .header-burger {
    left: 40px
  }

  .arrow-sliyder-left {
    right: 152px;
  }

  .story-img img {
    width: 100px;
    height: 100px;
  }
}