html {
  margin: 0px;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

body {
  margin: 0px;
  font-family: 'Red Hat Text', sans-serif;
}

button {
  padding: 0px;
}

.wrapper {
  margin: 0px auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.header {
  height: 90px;
  margin: 0px;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  background-image: url('./assets/img/background-mountains.jpg');
  background-repeat: no-repeat;
  background-position: center 0;


}
.header-burger{
display: none;
}

.header-conteiner {
  background-color: rgba(242, 120, 92, 0.7);
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.logo-img img {
  max-width: 100%;
}
.logo-img-mobile{
  display: none;
}
.image-close{
  display: none;
}
.menu-social-media a{
  display: none;
}
.menu-account a{
display: none;
}
.menu-nav {
  margin-left: 2px;
}

.menu-nav ul {
  padding: 0px;
}

.menu-nav ul a:hover {
  color: #0D606F;
  transition: 200ms;
}

.menu nav li {
  display: inline;
  list-style-type: none;
  transition: 200ms;
}

.menu-nav ul a {
  font-weight: 500;
  padding-right: 42px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 21px;
  transition: .3s;
}

.authorization {
  margin-left: 10px;
}

.login .btn-no-arrow {
  font-weight: 500;
  font-size: 16px;
  line-height: 41px;
  width: 103px;
  height: 41px;
}

.btn-no-arrow {

  color: white;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}

.btn-no-arrow:hover {
  font-size: 120%;
  border: 1px solid black;
  transition: .3s;

}

.main-row {
  flex: 1 1 auto;

  
}

.preview {
  height: 675px;
  background: url('./assets/img/background-mountains.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
}

.plan-trip-text p {
  padding-top: 0px;
}

.plan-trip {
  position: relative;
  width: 892px;
  height: 422px;
  top: 32px;
  left: 120px;
  padding-bottom: 80px;

}

.preview h1 {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin: 0px auto;
}

.preview p {
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 31px 0px 46px 0px;
}
.plan-trip-search {
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  position: relative;

}

.plan-trip-search-text p {
  padding: 32px 0px 41px 41px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.plan-trip-search-btn{
  position: absolute;
  right: 3px;
  top: 18px

}
.plan-trip-search-btn .btn-no-arrow {
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  width: 228px;
  height: 59px;
  margin: 0px 18px 0px 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 59px;
  color: #FFFFFF;

}

.steps {
  display: flex;
  height: 415px;
  justify-content: center;
  margin: 0px auto;
}

.steps-block {
  width: 1177px;
  height: 247px;
  padding: 80px 132px 87px 131px;
  


}

.steps-text h2 {
  margin: 0px 0px 40px 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.steps-icons {
  display: flex;
  justify-content: space-between;
  
}
.steps-icons-2{
  position: relative;
  left: 34px;
}

.steps-icons p {
  text-align: center;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.steps-icons img {
  padding-bottom: 24px;
}

.aligncenter {
  text-align: center;
}

.destinations {
  height: 1129px;
  display: flex;
  flex-direction: column;
}

.distination-text h2 {
  margin-top: 10px;
  margin-bottom: 46px;
  font-family: 'Red Hat Text', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.distination-carousel {
  display: flex;
  justify-content: space-between;
}

.img-carousel-1 {
  order: 0;
}

.img-carousel-2 {
  order: 1;
  margin: 0px 60px;
}

.img-carousel-3 {
  order: 2;
}

.distination-switch {
  margin-top: 19px;
  margin-bottom: 34px;
}

.distination-btn {
  display: flex;
  box-sizing: border-box;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 10px 32px;
  margin: 0px auto;

}

.img-btn-arrow {
  padding-right: 10px;
}

.btn-arrow {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  background: #0D606F;
  font-family: inherit;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.distination-btn:hover {
  transition: 0.3s;
  font-size: 120%;
  border: 1px solid black;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stories-background-img {
  background-image: url(./assets/img/story-background.jpg);
  width: 100% !important;
  background-repeat: no-repeat;
  background-position: center 0px;
}

.stories-background-color {
  background-color: rgba(255, 255, 255, 0.7);
}

.stories-header h2 {
  margin: 0px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  padding: 0px 0px 42px 0px;
}

.stories-body {
  width: 1201px;
  height: 1272px;
  margin: 0px auto;
}

.stories-body a:hover {
  color: #F2785C;
}

.story-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.story {
  display: flex;
  width: 1200px;
  height: 250px;
  padding: 0px 0px;
  justify-content: center;
  padding: 15px 0px;
}

.story:nth-child(1) {
  padding-top: 40px;
}



.story-body {
  word-wrap: break-word;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.story-body a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;

  color: #0D606F;
}

.story-img {
  padding-right: 32px;
}

.story-img img {

  border-radius: 16px;
}

.story-caption h3 {
  padding-bottom: 24px;
  margin: 0px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: #0D606F;
  line-height: 42px;
  margin: 0px;
}

.stories-btn {
  position: relative;
  bottom: 15px;
  display: flex;
  box-sizing: border-box;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08);
  border-radius: 10px;
  padding: 10px 32px 10px 32px;
  margin: 0px auto;
}

.stories-btn img {
  padding-right: 10px;
}

.stories-btn:hover {
  transition: 0.3s;
  font-size: 120%;
  border: 1px solid black;
}

.footer {
  min-height: 50px;
  background-image: url('./assets/img/story-background.jpg');
  background-repeat: no-repeat;
  background-position: center -1272px;
}

.footer-row {
  display: flex;
  flex: 0 0 33.33333%;
  align-items: center;

}

.footer-travel {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-left: 590px;
}

.footer-social-media img {}

.footer-social-media img {
  padding: 5px 0px 0px 10px;
  width: 34px;
  height: 34px;
}

.footer-social-media ul {
  display: block;
  margin: 5px 0px 0px 180px;
}

.footer-social-media ul li {
  display: inline;
  text-decoration: none;
}


@media (max-width: 390px) {
  .main{
    position: relative;
    top: -30px;
  }
  .header{
  display: block;
  position: absolute;
  background-image: none;
  box-shadow: 0;
  width: 358px;
  height: 32px;
  top: 43px;
  left: 16px;
  }
  .header-row{
    height: 32px;
  }
  .header-conteiner{
    background-color: rgba(0, 0, 0, 0);
  }
  .logo-img-desktop{
    display: none;
  }
  .logo-img-mobile{
    display: inline;
  }
  .logo-img{
    position: relative;
    right: 100px;
    height: 30px;
    width: 30px;

    z-index: 3;
  }
  .logo-img img{

  }
  .menu {
    position: absolute;
    top: -1000%;
    left 0;
    width: 165px;
    height: 250px;
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    z-index: 2;
    transition: 0.3s;
  }

  .menu.active{
    top: -30px;
    z-index: 3;
  }
  .header-burger.active:before{
    transform:rotate(45deg);
    top: 6px;
  }
  .header-burger.active:after{
    transform:rotate(-45deg);
    bottom: 6px;
    
  }
  .header-burger.active span{
 transform: scale(0);

  }
  .image-close{
    display: inline;
    padding-left: 8px;
    padding-top: 8px;
  }
  .menu-social-media a{
  display: block;
  }
  .menu-account a{
  display: block;
  }
  .menu nav ul a {
    padding: 0;
    font-size: 16px;
    line-height: 21px;
  }
  .menu nav ul{
    padding-top: 0px;
    padding-right: 15px;
    margin: 0;
    height: 32px;
  }
  .menu nav li{
display: block;
padding: 10px 0px 0px 0px;
text-align: right;
white-space: nowrap;
  }
  .authorization{
    display: none;
  }
  .header-burger{
    display: block;
    position: relative;
    width: 26.25px;
    height: 16px;
    z-index: 3;
    left: 90px;
  
  }
  .header-burger span{
    content: '';
    background-color:  white;
    width: 26.25px;
    height: 2.67px;
    position: absolute;
    left: 1px;
    top: 6px;
    border-radius: 10px;
    transition: 0.3s;
  
  }
  .header-burger:before,
  .header-burger:after{
    content: '';
    background-color: white;
    width: 26.25px;
    height: 2.67px;
    position: absolute;
    left: 1px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .header-burger:before{
    top:0px;
  }
  .header-burger:after{
    bottom: 0px;
  }

  
  .plan-trip-text{
  display: none;
  }
  .plan-trip h1{
    display: none;
    }

  .preview{
    position: relative;
    height: 251px;
    background: url(./assets/img/background-mountains-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
  }
.plan-trip-search-text p{
  font-size: 14px;
line-height: 16px;
position: relative;
bottom: 15px;
left: -24px

}

  .plan-trip-search{
    width: 360px;
    height: 48px;
    position: relative;
    right:102px;
    top: 110px;
  }
  .plan-trip-search-btn .btn-no-arrow{
    width:92px;
    height: 30px;
    font-size: 11px;
    line-height: 15px;
  }
  .btn-no-arrow{
    position: relative;
    bottom: 10px;
    left: 12px;

  }

  .steps{
    height: 193px;
  }
  .steps-block{
    height: 163px;
    width: 360px;
    padding: 20px 15px;
  
  }
  .steps-text h2{
    position: relative;
    left: 4px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;

  }
  .steps-icons img{
    width: 70px;
    height: 70px;
    padding-bottom: 19px;
  }
  .steps-icons p{
    font-weight: 400;
   font-size: 10px;
   line-height: 12px;


  }
  .steps-icons-1{
    position: relative;
    left: 5px;
  }
  .steps-icons-2{
    position: relative;
    left: 5px;
  }
  .steps-icons-3{
    position: relative;
    left: 5px;
  }
  .steps-icons-1 p{
    text-align: left;
    width: 92px;
  
  }
  .steps-icons-3 p{
    text-align: right;
    width: 98px;
  }
  .destinations{
    height: 289px;
    width: 360px;
    padding: 0px 15px 20px 15px;
  }
  .distination-text h2{
    position: relative;
    left: 4px;
    font-size: 14px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 20px;
  }
  .distination-carousel{  
    position: relative;
    left: 4px;
    height: 210px;
    background: url(./assets/img/Distination-1-mobile.jpg), #FFFFFF;
    border-radius: 16px;
  }
  .img-carousel-1{
    display: none;
  }
  .img-carousel-2{
    display: none;
  }
  .img-carousel-3{
    display: none;
  }
  .distination-switch img{
    width: 36px;
    height: 8px;

  }

  .distination-switch{
    margin: 0px;
    position: relative;
    bottom:30px;
  }
  .distination-btn{
    width: 92px;
    height: 30px;
    padding: 10.86px 12.77px 10.86px 12.77px ;
    position: relative;
    top: -12px;
    left:4px;

  }
  .img-btn-arrow{
    padding-right: 6px;
    padding-left: 0px;;
  }
  .btn-arrow{
    white-space: nowrap;
    font-size: 12px;
    line-height: 5px;
    width: 50.45px;
    height: 8.5px;

    

  }
  .stories{
    height: 657px;
    width: 100%;
  }
  .stories-header h2{
    position: relative;
    left: 3px;
    font-size: 14px;
line-height: 19px;
padding-bottom: 10px;

  }
  .story{
    height: 130px;
    width: 360px;
    padding: 5px 19px;
  }
  .story:nth-child(1) {
    padding-top: 10px;
  }
  .story h3{
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .story-caption-1{
    position: relative;
    top: 5px;
  }
  .story-caption-2{
    position: relative;
    top: 10px;
  }
  .story-caption-3{
    position: relative;
    top: 15px;
  }
  .story-body-1{
    position: relative;
    top: 5px;
    left: -2px;
  }
  .story-body-2{
    position: relative;
    top: 9px;
    left: -2px;
  }
  .story-body-3{
    position: relative;
    top: 14px;
    left: -2px;
  }
  .story-body-4{
    position: relative;
    top: 19px;
    left: -2px;
  }
  .story-caption-4{
    position: relative;
    top : 17px;
  }
  .story-img-2{
    position: relative;
    top: 5px;
  }
  .story-img-3{
    position: relative;
    top: 10px;
  }
  .story-img-4{
    position: relative;
    top: 14px;
  }
  .story p{
    font-size: 9px;
    line-height: 11px;
  }
  .story img{
    height: 134px;
    width: 159px;
  }
  .story-img{
    padding-right: 10px;
  }
  .stories-body{
    height: 628px;
  }
  .story-body{
    width: 196px;
    height: 102px;
  }
  .story-body a{
    font-size: 9px;
    line-height: 11px; 
  }
  .stories-background-img {
    background-image: url(./assets/img/story-background-mobile.jpg);

    background-repeat: no-repeat;
    background-position: center 0px;
  }
  .stories-btn{
width: 92px;
height: 30px;
padding : 10px 13.5px 9.5px 5px;
position: relative;
right: 400px;
bottom: 20px;

  } 
  .footer-row{
    height: 60px;
  }
  .footer {
    height: 60px;
    background-image: url('./assets/img/story-background-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center -633px;

 
  }
  .footer-travel{
    display: none;
  }

.footer-social-media ul {
  display: block;
  margin: 0px 0px 0px 0px;
  position: relative;
  left:-8px;
}
}